*{
  margin: 0;
  padding: 0;
}

.main{
  background-color: #69369E;
  padding: 2%;
  margin: 5% 20% 5% 20%;
  border-radius: 4px;
  min-width: max-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.main h1{
  text-align: center;
  font-size: 2.2em;
  color:#00eeff;
  font-family: Ubuntu,'Helvetica Neue', sans-serif;
}

.form{
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input[type="text"]{
  height: 2em;
  padding: 0 0.5em;
  border: 1px solid black;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0px;
  font-family: Ubuntu;
  border-bottom-right-radius: 0px;
}

.form button{
  height: 2em;
  padding: 0 1em;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #7951a8;
  color: white;
}

.form button:hover{
  background-color: #3f1072;
  color: white;
  transition: all 400ms;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.tasks {
  margin-top: 10%;

}
.tasks li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #00eeff;
  font-family: Ubuntu;
}

.tasks li .edit{
  margin-right: 5px;
  color: #00eeff;
}

.tasks li .delete{
  color: #c40afd;
}
.tasks li{

  padding: 1em;
  border-radius: 3px;
  transition: all 400ms;

}

.tasks li:hover{
  color: white;
  background-color: #4a1b7c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.tasks li .edit:hover, .tasks li .delete:hover {
  color: white;
  cursor: pointer;
  transition: all 400ms;
}

.tasks li span{
  display: flex;
  align-items: center;
}
